.areaMinhaFoto{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 5vh;
}
.imgMinhaFoto{
    width: 30vh;
    height: 35vh;
    padding-bottom: 5vh;
}
.areaTexto{
    display: block;
    text-align: center;
    margin-left: 25vh;
    margin-top: 3vh;
    width: 60vw;
}
.texto{
    font-size: 1.5em;
        color: #355B73;
    font-weight: 400;
    text-align: center;
}
.areaBotao{
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: #355B73;
    height: 5vh;
    border-radius: 70px;
}
.botao{
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    font-weight: bold;
    text-align: center;
}
@media (max-width: 1024px) {
.areaMinhaFoto{
  flex-direction: column;
}
}

/* Celular */
@media (max-width: 1000px) {
.areaMinhaFoto{
  flex-direction: column;
  padding-top: 0;
}
.areaTexto{
    margin-left: 0;
}
.texto{
  padding-bottom: 3vh;
}
}