.imgCertificado{
    width: 35rem;
    border-radius: 20px;
}
.texto{
    font-size: 1.5rem;
    color: #4D4D4D;
}
@media (max-width: 768px) {
    .imgCertificado{
        width: 17rem;
    }
    .texto{
        font-size: 1.2rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}