@media (max-width: 1024px) {
    .imgCelulares{
        display: block
    }
}

/* Celular */
@media (max-width: 768px) {
  .imgCelulares{
          display: block
  }
}

.areaTagFechamento{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 5vh;
}

.tagFechamento{
    font-size: 2em;
}
.linkTexto{
    padding: 5vh;
    text-decoration: none;
    font-size: 1.5em;
    color: black;
}
.linkTexto:hover{
    text-decoration: underline;
}
.imgCelulares{
    width: 50vh;
    height: 50vh;
    padding-left: 20px;
}
.areaTexto{
    display: block;
    text-align: center;
    margin-left: 15vh;
}
.nome{
    font-weight: 550;
    font-size: 4em;
}
.profissao{
    font-size: 2em;
    width: 35vh;
    margin: auto;
}