.titulo{
    font-size: 3em;
    color: #355B73;
    font-weight: bold;
    text-align: left;
}

.areaTitulo{
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 35vh;
}

.imgSiteFoco{
    width: 70vh;
    height: 40vh;
    align-items: center;
    justify-content: center;
}
.imgAppFred {
    height: 55vh;
    width: 30vh;
    align-items: center;
    justify-content: center;
}
.texto{
    font-size: 1.5em;
    color: #757575;
    font-weight: normal;
    padding-bottom: 2vh;
}

.link {
    width: 30vh;
    height: 5vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #355B73;
    border-radius: 10px;
    margin-bottom: 2vh;
} 
.textoLink{
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}
.areaDesign{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          padding-left: 5vh;
          padding-top: 5vh;
}
@media (max-width: 1024px) {
.areaDesign {
    display: block;
}
.imgSiteFoco{
    width: 50vh;
    height: 30vh;
    align-items: center;
    justify-content: center;
}

}

/* Celular */
@media (max-width: 768px) {
.areaDesign {
    display: block;
}
.imgSiteFoco{
    width: 40vh;
    height: 25vh;
    align-items: center;
    justify-content: center;
}
}